@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #f0f0fa;
}

html * {
  font-family: "Inter", sans-serif;
}

.btn {
  @apply font-bold py-3 rounded-xl bg-purple-400 text-center w-24;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}


